body {
    background-color: #dfebe9;
  }

  .middlecolumn{
    width: 75%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Tahoma', sans-serif;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color:#37676b;
    outline: none;
    text-align: left;
  }
  
  h1:hover{
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #1b708a
  }

  a:hover{
    letter-spacing: 1px;
    text-decoration: underline;
  }

  
  p {
    font-size: 16px;
    font-family: monospace, sans-serif;
    line-height: 150%;
    text-align: left;
    color: #456061;
    letter-spacing: .5px;
  }

  .txtbox {
    color: white;
    width: 25%;
    background-color: #79a9ab;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 2%;
    text-align: center;
  }

  .project-cont {
    background-color: white;
    border-radius: 15px;
    margin: 2%;
  }

  .project-img{
    position: relative;
    padding: 2%;
    max-width: 98%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .project-left{
    padding: 1%;
    width: 25%;
    float: left;
  }
  
  .project-right{
    padding: 1%;
    width: 75%;
    float: right;
  }

  .side-by{
    float: left;
  }

/* responsiveness */
@media screen and (max-width: 800px) {
  .container, .project-cont, .project-img, .project-left, .project-right, .txtbox {
    margin-left: 1%;
    margin-right: 1%;   
    width: 98%;
    padding: 2%;
  }

}