body {
    background-color: #dfebe9;
  }

  .middlecolumn{
    width: 75%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Tahoma', sans-serif;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color:#37676b;
    outline: none;
    text-align: left;
  }
  
  h1:hover{
    font-variation-settings: "wght" 582; 
    letter-spacing: 3px;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #1b708a
  }

  a:hover{
    letter-spacing: 1px;
    text-decoration: underline;
  }

  
  p {
    font-size: 16px;
    font-family: monospace, sans-serif;
    line-height: 150%;
    text-align: left;
    color: #456061;
    letter-spacing: .5px;
  }

  .subtext {
    font-size: 18px;
    font-family: monospace, sans-serif;
    color:#6db0b6;
  }

  .txtbox {
    color: white;
    width: 25%;
    background-color: #79a9ab;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 2%;
    text-align: center;
  }

  .project-cont {
    background-color: white;
    border-radius: 15px;
    margin: 2%;
  }

  .project-img{
    position: relative;
    padding: 2%;
    max-width: 98%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .project-left{
    padding: 1%;
    width: 25%;
    float: left;
  }
  
  .project-right{
    padding: 1%;
    width: 75%;
    float: right;
  }

  .side-by{
    float: left;
  }

  * {
    box-sizing: border-box;
  }

  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

/* responsiveness */
@media screen and (max-width: 800px) {
  .container, .project-cont, .project-img, .project-left, .project-right, .txtbox, .middlecolumn {
    margin-left: 1%;
    margin-right: 1%;   
    width: 98%;
    padding: 2%;
  }

}
